<%= @band.first.name %>

<br><br>
<a href="/bands/<%=params[:id]%>/albums/new">Drop New Album</a>

<br><br>
<a href="<%=params[:id]%>/edit">Edit Album</a>

<br>
<form action="<%= band_url %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input
    type="hidden"
    name="authenticity_token"
    value=" <%= form_authenticity_token %>">

  <input type="submit" name="" value="Delete Album">
</form>
